* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #f2ede4;

}

a {
    color: #3745c3;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;

}

h1 {
    font-family: 'Playfair', 'Georgia', serif;
    font-size: 3em;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1.8em;
    font-family:
}

h3 {
    font-size: 1.5em;
}

header {
    display: flex;
    align-items: center;
    background-color: #f2ede4;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

nav {
    background-color: #f2ede4;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    padding-right: 30px;
}

nav a {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
    color: black;
    text-decoration: none;
}

nav a:hover {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em color: #766e60;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}



.main-content {
    display: flex;
    margin: 2% 3% 3% 3%;
    padding: 15px;
    background-color: #f2ede4;
    justify-content: space-between;
    border: 1px solid black;
    height: 600px;
    align-items: center;
}


.text-box {
    display: block;
    width: 60%;
    padding: 10%;
    letter-spacing: 0.05em;
    line-height: 1.5;
    min-width: 45ch;
    max-width: 85ch;
}

.portrait-box {
    display: flex;
    padding: 0;
    margin: 0;
}

.portrait {
    width: auto;
    height: 600px;

}

footer {
    margin: 0% 3% 1% 3%;
    padding: 10px;
    border-top: 1px solid rgba(127, 127, 127, 0.7);
}